//--------------  Aula 01 Seletores ----------------

//topico:01
//---- usar com moderação até 3 niveis de herança ----

nav{
    width:100%;
    background: #000;

    ul{
        list-style: none;
        padding: 20px 0;
    }

    li{
        color:red;
        margin:0 20px;
    }
}

//-------------------------------------------------------


//Topico:02
//------------------ Propriedades aninhadas -------------
/*

CSS

nav{
    font-family:"Times New Roman", 'Times New Roman', Times, serif;
    font-style:italic;
    font-size: 30px;
    font-weight:bold;
}
*/

nav{

    li{
        color:red;
        margin:0 20px;
        font: {
            family:Arial;
            size:30px;
            weight:bold;
        }
    }
    
}

//Topico:03
//------------------- pseudo-elements ----------------
/* CSS:

a{
    color:#ffa;
}
a:hover{
    color:#000;
}                                              */


a{
    color:red;
    &:hover{
        color:blue;
    }
}

//--------------------------------------------------------------

/*----------------   AULA 03 --------------
variaveis: tipos: numericas: 3.5rem, 300px, 300;
variaveis: tipos: strings: "Lucida Grande", bold; (aqui foi dado exemplo de font com aspas e sem aspas) 
variaveis: tipos:Cores: #ffffff, rgba(0,0,0.7), red;


*/

$width: 100%;
$font-size: 1.2rem;
$background: #962acd;
$color:#fff;
$border-style:solid 1px $color;

nav {
    background: $background;
    color: $color;
    width: $width;
    font-size: $font-size;
}


